# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=
API_URL=http://laravel11-jwt-rest-api.test/api
NEXTAUTH_SECRET=next-auth-secret
NEXTAUTH_URL=http://localhost:3000
